* {
    font-family: "JetBrains Mono", monospace;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #1c1c1c;
}

.container-left {
    background-image: url(assets/mars-card.webp);
    width: 400px;
    height: 830px;
    display: flex;
}

.container-left-logo {
    display: flex;
    margin-top: 200px;
    background-color: rgb(0, 0, 0, 0.3);
    height: 100px;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

label {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-bottom: -20px;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(27, 27, 27, 0.2);
}

input:focus {
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    border: 2px solid blue;
    outline: none;
}



input:invalid {
  border-color: red;
}

.container-right {
    background-color: #e5e5e5;
    height: 830px;
    width: 800px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-right-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 600px;
    padding-left: 50px;
    font-size: 1.2rem;
    padding-bottom: 50px;
    font-weight: bold;
}


.form-header {
    font-size: 1.5rem;
    
}

.container-right-form {
    background-color: white;
    border-bottom: #1c1c1c;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.3);
}

.inputs {
    display: flex;
    gap: 70px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-acc-btn {
    width: 170px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #ff8a00;
}

.container-right-footer {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

#footer-txt {
    font-size: 0.9rem;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #ff8a00;
    text-decoration: none;
}